<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/upload" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item>
    <ion-label> En esta página se verá una lista con los libros del usuario </ion-label>
  </ion-item>

  <ion-card *ngFor="let libro of misLibros">
    titulo: {{libro.title}}
  </ion-card>

</ion-content>
