<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/upload" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="2" sizeMd="4" sizeXs="6" *ngFor="let libro of misLibros">
        <ion-card routerLink='/book-view' [state]=libro>
          <img [src]= libro.imageURL />
          <ion-card-header>
            <ion-card-title>{{libro.title}}</ion-card-title>
            <ion-card-subtitle><b>Estado:</b> {{libro.materialState}}</ion-card-subtitle>
            <ion-card-subtitle><b>Disponibilidad:</b> {{libro.availability}}</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
          <ion-button (click)="deleteBook(libro)" fill="clear">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
