<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/upload" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  

  <ion-card *ngFor="let libro of misLibros">
    <img [src]= libro.imageURL width="30%" height="60%"/>
    <ion-card-header>
      <ion-card-subtitle>Estado: {{libro.materialState}}</ion-card-subtitle>
      <ion-card-subtitle>Disponibilidad: {{libro.availability}}</ion-card-subtitle>
      <ion-card-title>{{libro.title}}</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-button (click)="deleteBook(libro)" fill="clear">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

</ion-content>
