<style>
  img {
    height: 320px;
    object-fit: cover;
}
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <ion-button (click)="printTrades()" expand="block">imprimir trades</ion-button>
  <ion-button (click)="getRequests()" expand="block">obtener requests</ion-button>
  --> 

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let request of requests">
        <ion-card>
         <img [src]= request.book1.imageURL width="50%" />
          <img [src]= request.book2.imageURL width="50%" />
          <ion-card-header>

            <ion-card-title style="font-size: 20px; margin-bottom: 10px">{{request.book1.title}} <ion-icon name="refresh-outline"></ion-icon> {{request.book2.title}}</ion-card-title>

      <ion-card-subtitle><b>Cambio ofrecido por: </b>{{request.user1.displayName}}</ion-card-subtitle>
      <ion-card-subtitle>En {{request.meet_point}} el {{request.loan_date}}</ion-card-subtitle>
      <ion-card-subtitle><b>Devolución: </b>{{request.return_date}}</ion-card-subtitle>
    </ion-card-header>
    

    <ion-item>
      <ion-button size="small" color="dark" style="text-align:center" (click)="acceptRequest(request)">
        Aceptar intercambio
      </ion-button>
    </ion-item>

  </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
