
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Lista de chats -->
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        chat 1
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>chat 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>chat 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>chat 4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>chat 5</ion-label>
    </ion-item>
  </ion-list>
  </ion-content>
  