<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label> Aquí se podria escoger el modo oscuro </ion-label>
  </ion-item>

  <ion-item>
    <ion-label> Otras opciones </ion-label>
  </ion-item>

  <ion-button color="primary" (click)="passwordReset()" expand="block">Resetear contraseña</ion-button>
  
  <ion-button color="danger" (click)="logOut()" expand="block">Cerrar sesión</ion-button>
  

</ion-content>
