<ion-content class="auth-form">
  <ion-grid class="wrapper">
    <ion-row>
      <div class="bienvenido">
        <center><img src="../assets/img/logo.png" height="85px" width="auto"></center>
      <h3>¡Bienvenido!</h3>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Registrate</ion-button>
        <span class="divider line one-line">o</span>
        <span class="already">¿Ya eres usuario?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="success">Inicia Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
