.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    background: rgb(126, 124, 124);
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
}
 
.message {
    padding: 10px !important;
    border-radius: 6px !important;
    margin-bottom: 5px !important;
    white-space: pre-wrap;
}
 
.my-message {
    background: rgb(77, 77, 77);
    color: #fff;
}
 
.other-message {
    background: rgb(51, 51, 51);
    color: #fff;
}
 
.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}