<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{book.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item >
    <img [src]="book.imageURL" style="width: 100%; max-width: 400px; height: auto; display: block; margin-left: auto; margin-right: auto;">
  </ion-item>

  <ion-item>
    <ion-text>
      Autor: {{book.author}}
    </ion-text> 
  </ion-item>

  <ion-item>
    <ion-text>
      Descripción: {{description}}
    </ion-text> 
  </ion-item>

  <ion-item>
    <ion-text>
      Estado: {{book.materialState}}
    </ion-text> 
  </ion-item>

  <ion-button color="success" expand="block" routerLink='/new-trade' [state]=book [disabled]="ownerName === myUserName">Contactar con {{ownerName}}</ion-button>
  <ion-button color="secondary" expand="block" routerLink="/chat" [state]=book [disabled]="ownerName === myUserName"> Chatear con {{ownerName}} </ion-button>
  <ion-button color="secondary" expand="block" (click)="deleteBook(book)" [state]=book [disabled]="ownerName !== myUserName"> Eliminar este libro (Funciona, conviene revisar*)</ion-button>
  <ion-button color="secondary" expand="block" routerLink="/edit-book" [state]=book [disabled]="ownerName !== myUserName"> Editar libro</ion-button>



</ion-content>
