<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Intercambios</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let request of requests">

    <ion-card-header>

      <div *ngIf="user.uid == request.user2.uid">
        <ion-card-title>{{request.user1.displayName}} me cambia {{request.book1.title}}</ion-card-title>
        <ion-card-title>por {{request.book2.title}}</ion-card-title>
      </div>

      <div *ngIf="user.uid == request.user1.uid">
        <ion-card-title>{{request.user2.displayName}} me cambia {{request.book2.title}}</ion-card-title>
        <ion-card-title>por {{request.book1.title}}</ion-card-title>
      </div>

    </ion-card-header>
    
    <ion-card-subtitle>En {{request.meet_point}} el {{request.loan_date}}</ion-card-subtitle>
    <ion-card-subtitle>Devolución: {{request.return_date}}</ion-card-subtitle>
    <ion-card-subtitle>Estado: {{request.state}}</ion-card-subtitle>


    <img [src]= request.book1.imageURL width="30%" height="60%"/>

    <div *ngIf="user.uid == request.user1.uid && request.state == condicionAceptado">
      <ion-item>
        <ion-button  size="small" color="tertiary" style="float:center" (click)="endTrade(request,1,0)">
          Finalizar intercambio
        </ion-button>
      </ion-item>
    </div>

    <div *ngIf="user.uid == request.user2.uid && request.state == condicionAceptado">
      <ion-item>
        <ion-button  size="small" color="tertiary" style="float:center" (click)="endTrade(request,2,0)">
          Finalizar intercambio
        </ion-button>
      </ion-item>
    </div>

    <div *ngIf="user.uid == request.user2.uid && request.state == condicionFinalizado1">
      <ion-item>
        <ion-button  size="small" color="tertiary" style="float:center" (click)="endTrade(request,2,1)">
          Aceptar fin del intercambio
        </ion-button>
        <ion-button  size="small" color="tertiary" style="float:right" (click)="endTrade(request,2,2)">
          Marcar incidencia
        </ion-button>
      </ion-item>
    </div>

    <div *ngIf="user.uid == request.user1.uid && request.state == condicionFinalizado2">
      <ion-item>
        <ion-button  size="small" color="tertiary" style="float:center" (click)="endTrade(request,1,1)">
          Aceptar fin del intercambio
        </ion-button>
        <ion-button  size="small" color="tertiary" style="float:right" (click)="endTrade(request,1,2)">
          Marcar incidencia
        </ion-button>
      </ion-item>
    </div>

  </ion-card>

</ion-content>
