<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item >
    <img [src]="user.photoURL" width="30%" height="60%"> 
  </ion-item>

  <ion-item>

    <ion-text>

      <h2>
        {{user.displayName}}
        <br>
      </h2>

      <h5> 
        {{user.email}} 
      </h5>

    </ion-text>
  
  </ion-item>


  <ion-item> 

    <ion-label>
      Valoración
    </ion-label>

    <ion-badge color="success" slot="end">4.5 / 5</ion-badge>

  </ion-item>

  <ion-button routerLink="/edit-profile" expand="block">Editar perfil</ion-button>

  <ion-button routerLink="/my-books" expand="block">Mis libros</ion-button>

  <ion-button routerLink="/settings" expand="block">Ajustes</ion-button>
 
</ion-content>
